.last_verified
*.class
problems*/*/build
problems*/*/generators/framework
problems*/*/generators/defaultImplementations
problems*/*/output_validators/checker/java

**/data/secret/large*.in
**/data/secret/xlarge*.in
**/data/secret/medium*.in
**/data/secret/small*.in
**/data/secret/tiny*.in
**/data/secret/huge*.in
**/data/secret/sparse*.in
/problems*/*/errors

__pycache__/

